//html背景色,
//header.top背景色,
//.timeSelect .date .total背景色,
$black001: #2a2a2a;

//header article .logged .selectBox select option字色
$black002: #000000;

//header article .logged .loginBtn背景色,header article .logged .loginBtn.active字色,header article .loggedIn button背景色,
$black003: #3d3d3d;

//header背景色,
$gray001: #505050;

//.topfix背景色,.left .smallList背景色,.left smallList背景色,
//.liveWindow .title背景色,playBoard td button背景色,
$gray002: #747474;

//header .top button字色,header .top .marqueeBox marquee字色,header .top span字色
$perple001: #b4bac8;

//球權mark背景色
$perple002: #8e9bdc;

//fixside .fun a
$perple003: #eaedf4;

//header article li a字色,header article .logged .loginBtn邊框色,header article .logged .loginBtn字色,header article .logged .loginBtn.active背景色,header article .logged .signupBtn字色,
//header article .logged .signupBtn.active背景色,header .top .marqueeBox i字色,header article .logged .selectBox i字色,header article .logged .selectBox::after邊框色,
//header article .logged .selectBox select邊框色,header article .logged .selectBox select字色,header article .loggedIn p字色,header article .loggedIn p.quota邊框色,
//header article .loggedIn button字色,header article .loggedIn button邊框色
//.signupBtn字色,.timeSelect .turnBtn邊框色,.timeSelect .date字色,
//.left .smallList字色,.left .active全字色,.timeSelect .smallBtn字色,
//.topfix .nor select字色,.playBoard td字色,.baseBag背景色
$white001: #ffffff;

//header article .logged .inputBox .forget字色,header article .logged .inputBox .remember字色,
//timeSelect .date .arrow邊框色,.left .smallList邊框色,
//chleague背景色,.liveWindow背景色,.bettingBoard背景色,
$white002: #ababab;

//.left背景色,.twobut button.active,bettingStatus背景色,
$white003: #bcbcbc;

//.playBoard td button span
$white004: #d4d4d4;

//header article .logged .inputBox input::placeholder
$white005: #8f8f8f;

//header article ul li a.active邊框色,header article .logged .signupBtn背景色,header article .logged .signupBtn.active字色,
//header article .loggedIn p span字色
$green001: #59a936;

//.overGame字色
$green002: #4dff00;

//.left .live字色,.totalPitch好球背景色,.gameStyle,
$orange001: #ff8c00;

//timeSelect .date .total span字色,.liveRemind背景色,yellowCard背景色,
//pitcher字色
$yellow001: #ffee00;

//playBoard td button字色
$yellow002: #d9de06;

//.redCard背景色
$red001: #ff0000;

//.totalPitch出局背景色
$red002: #c84a4a;

//cube背景色,.chleague背景色
$linear-gradient001: linear-gradient(to bottom, #3449b9 0%, #8694d8 100%);

//fixside .searchbox li
$linear-gradient002: linear-gradient(to bottom, #fafbff 0%, #e2e6f5 100%);