//優惠
.discount {
    width: 1190px;
    height: 100%;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #b9becf;
        border-radius: 10px;
    }

    //分隔視窗
    .window {
        width: 90%;
        height: 180px;
        background: linear-gradient(to bottom, #fefeff 0%, #eff1fb 80%, #cfd3e9 100%);
        background-color: #fafbff;
        margin: 15px auto 0px;
        border-radius: 20px;
        border: 1px solid #8581b4;
        box-shadow: 0 0 4px 2px #bac0db;
        position: relative;

        //左上字
        .topbar {
            width: 279px;
            height: 34px;
            text-align: left;
            line-height: 34px;
            float: left;
            background: url('../images/discounttitle_bg.png') no-repeat;
            background-size: 100%;
            padding-left: 45px;
            color: #fff;
            &.blue {
                background-position-y: 0px;
            }

            &.aqua {
                background-position-y: -34px;
            }

            &.orange {
                background-position-y: -68px;
            }

            &.green {
                background-position-y: -102px;
            }

            //前小圖
            i {
                position: absolute;
                top: 7px;
                left: 18px;
                font-size: 18px;

                &.fa-calendar-alt {
                    left: 19px;
                }

                &.fa-piggy-bank {
                    left: 16px;
                }
            }
        }

        .img {
            float: right;
            margin-right: 220px;
            pointer-events: none;
            
            &.bg1 {
                width: 383px;
                height: 180px;
                background: url('../images/disimg_1.png') no-repeat;
                background-size: 100%;
            }

            &.bg2 {
                width: 423px;
                height: 180px;
                background: url('../images/disimg_2.png') no-repeat;
                background-size: 100%;
                margin-right: 200px;
            }

            &.bg3 {
                width: 483px;
                height: 180px;
                background: url('../images/disimg_3.png') no-repeat;
                background-size: 100%;
                margin-right: 155px;
            }
        }

        .word {
            width: 40%;
            height: auto;
            float: left;

            p {
                color: #4d515d;
                padding: 20px 0px 0px 50px;
                font-size: 14px;

                &.main {
                    color: #b98353;
                    font-size: 32px;
                }

                &.underWord {
                    font-size: 18px;

                    .remind {
                        color: #b98353;
                        padding: 0px 15px;
                        font-size: 20px;
                    }
                }
            }
        }

        //查看詳情
        button {
            background: linear-gradient(to bottom, #8e9bdc 0%, #3349b8 100%);
            border: solid 1px #1e2f8e;
            width: 160px;
            height: 40px;
            position: absolute;
            right: 30px;
            bottom: 20px;
            font-weight: bold;
            color: #fff;
            border-radius: 3px;
            font-size: 18px;
            &:hover,&:active,&.active {
                background: linear-gradient(to top, #8e9bdc 0%, #3349b8 100%);
            }
        }
    }

    //下box
    .activebox {
        width: 90%;
        height: 0px;
        background: linear-gradient(to bottom, #fefeff 0%, #eff1fb 80%, #cfd3e9 100%);
        background-color: #fafbff;
        margin: 0px auto;
        border-radius: 0px 0px 20px 20px;
        transform: translateY(-20px);
        position: relative;
        z-index: -1;
        overflow: hidden;

        &.open {
            box-shadow: 0 0 4px 2px #bac0db;
            height: auto;
        }

        ul {
            padding-top: 35px;
            text-align: left;

            li {
                list-style: decimal;
                margin: 5px 0px 5px 50px;
                line-height: 24px;
                font-size: 16px;

                &:last-child {
                    padding-bottom: 20px;
                }
            }
        }
    }
}