.left {
    width: 270px;
    height: 850px;
    background: #bcbcbc;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 6;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #b9becf;
        border-radius: 10px;
    }
    
    //我的頁面
    &.mine {

        //上視窗
        .minewindow {
            width: 100%;
            height: 270px;

            //視窗上段
            .avater {
                width: 100%;
                height: 160px;
                padding-top: 25px;
                text-align: center;

                //大頭貼
                .sticker {
                    width: 79px;
                    height: 81px;
                    margin: 0px auto 20px;
                    background: url('../images/avatar_big.png');
                }

                //字樣
                p {

                    &.joinday {
                        color: #304880;
                        font-size: 15px;
                        padding-top: 5px;
                    }
                    
                    span {
                        display: inline-block;
                        width: 40px;
                        height: 17px;
                        background: linear-gradient(to right, #8e9bdc 0%, #2e44b6 100%);
                        background-color: #2e44b6;
                        position: relative;
                        text-align: right;
                        color: #fff;
                        font-weight: bold;
                        border-radius: 5px;
                        margin: -3px 0px 0px 5px;
                        padding: 3px 5px 0px 0px;
                        font-size: 15px;

                        &::before {
                            content: "";
                            position: absolute;
                            width: 23px;
                            height: 9px;
                            background: url('../images/vip.png') no-repeat;
                            top: 5px;
                            left: 5px;
                        }
                    }
                }
            }
            //三按鈕
            .threebut {
                width: 100%;
                height: 80px;
                text-align: center;

                a {
                    display: inline-block;
                    width: 60px;
                    height: 58px;
                    margin: 0px 4px;
                    border-radius: 3px;
                    font-size: 16px;
                    text-align: center;
                    background: transparent;
                    color: #4556b1;
                    padding-top: 10px;

                    &:hover,&:active,&.active {
                        background: #4556b1;
                        color: #fff;
                        span {
                            background-position-y: -30px;
                        }
                    }

                    //按鈕圖
                    i {
                        display: block;
                        font-size: 24px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        //下半選單
        ul {
            li {

                &:nth-of-type(1),&:nth-of-type(5),&:nth-of-type(9) {
                    border-bottom: solid 1px #e6e9f3;

                    a {
                        border: none;
                    }
                }

                a {
                    
                    .live {
                        display: inline-block;
                        padding: 1px 0px 0px;
                        width: 28px;
                        text-align: center;
                        font-size: 14px;
                        position: initial;
                        margin-left: 10px;
                        transform: translateY(0px);
                    }

                    i {
                        font-size: 22px;
                        top: 10px;

                        &.fa-clipboard,&.fa-mobile-alt {
                            left: 21px;
                        }

                        &.fa-money-bill-wave,&.fa-qusetion-circle,
                        &.fa-users {
                            left: 16px;
                            top: 12px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    //選項
    ul {

        li {

            &:hover {

                a {
                    background: #8c8c8c;
                    color: #ffffff;

                    svg,.total {
                        fill: #fff;
                    }

                    i {
                        color: #fff;
                    }
                }
            }

            &:active,&.active {

                .smallList {
                    display: block;
                }

                a {
                    background: #8c8c8c;
                    color: #ffffff;

                    svg,.total {
                        fill: #fff;
                    }

                    i {
                        color: #fff;
                    }
                }
            }

            &.onLive {

                .live {
                    display: block;
                }
            }

            a {
                display: block;
                color: #000;
                width: calc(100% - 50px);
                height: 45px;
                line-height: 45px;
                font-size: 14px;
                padding-left: 50px;
                position: relative;
                border-bottom: solid 1px #ababab;

                //字前小圖
                i {
                    position: absolute;
                    top: 12px;
                    left: 18px;
                    font-size: 18px;
                    color: #505050;

                    &::before {
                        margin: 0px auto;
                    }

                    &.fa-hotjar,&.fa-hockey-puck,
                    &.fa-baseball-ball,&.fa-basketball-ball,
                    &.fa-futbol,&.fa-volleyball-ball,&.fa-calendar-alt {
                        left: 19px;
                    }

                    &.fa-piggy-bank {
                        left: 16px;
                    }

                    &.fa-signal {
                        font-size: 17px;
                    }
                }

                svg {
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    left: 18px;
                    top: 12px;
                    fill: #505050;
                }

                //字後小框
                .total {
                    position: absolute;
                    right: 10px;
                    top: 0px;
                    font-size: 13px;
                    color: #4d4d4d;
                }

                //LIVE小框
                .live {
                    display: none;
                    position: absolute;
                    line-height: 18px;
                    height: auto;
                    width: auto;
                    top: 49%;
                    transform: translateY(-50%);
                    right: 42px;
                    font-size: 12px;
                    background: #4d4d4d;
                    color: #ed880d;
                    padding: 0px 4px;
                    border-radius: 3px;
                }
            }

            .smallList {
                display: none;
                width: calc(100% - 30px);
                height: 30px;
                background: #676767;
                border-bottom: solid 1px #8c8c8c;
                line-height: 30px;
                padding-left: 30px;
                font-size: 12px;
                color: #fff;
                cursor: pointer;

                &:hover,&:active,&.active {
                    background: #4d4d4d;
                }

                span {
                    float: right;
                    margin-right: 20px;
                }
            }
        }
    }
}