@import "_reset";
@import "./header";
@import "./main";
@import "./leftside";
@import "./rightside";
@import "./table";
@import "./type";
@import "./fixside";
@import "./discount";
@import "./myself";
@import "./anime";
html {
    width: 100%;
    height: 100%;
    background: #2a2a2a;

    body {
        width: 100%;
        height: auto;
        overflow: hidden;

        &::-webkit-scrollbar {
            height: 10px;
            background-color: transparent;
        }
    
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 10px;
        }
    
        &::-webkit-scrollbar-thumb {
            background: #b9becf;
            border-radius: 10px;
        }
    }
}